.App {
	margin: 30px 15px;
}

.container {
	max-width: 1000px !important;
}

.actions button {
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.actions .btn[disabled] {
	background-color: gray;
	border-color: gray;
}

code {
	display: block;
	background: #111111;
	padding: 10px;
	border-radius: 5px;
}