.App {
	margin: 30px 15px;
}

.container {
	max-width: 1000px !important;
}

.actions button {
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.actions .btn[disabled] {
	background-color: gray;
	border-color: gray;
}

code {
	display: block;
	background: #111111;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 16px;
}

table {
	margin: 0;
}

.tableContainer {
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	margin-bottom: 16px;
	border-radius: 5px;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.tableContainer .content {
	display: table;
}

.tableContainer table {
	margin: 0;
}

.tableContainer th {
	padding: 10px !important;
	border: unset !important;
	background: #111111;
	font-size: 12px;
}

.tableContainer td {
	padding: 10px !important;
	background: #191919;
	font-size: 14px;
	border-top: 1px dashed #373737 !important;
}

.login-form {
	margin: 0 auto;
	text-align: center;
}

.login-form input {
	margin-bottom: 10px;
}

.login-form label {
	display: block;
	height: 15px;
	font-size: 14px;
}

.login-form .more-options {
	padding-top: 10px;
}