.App {
	margin: 30px 15px;
}

.container {
	max-width: 1000px !important;
}

.actions button {
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.actions .btn[disabled] {
	background-color: gray;
	border-color: gray;
}

code {
	display: block;
	background: #111111;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 16px;
}

table {
	margin: 0;
}

.tableContainer {
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	margin-bottom: 16px;
	border-radius: 5px;
	border: 5px solid black;
}

.login-form {
	margin: 0 auto;
	text-align: center;
}

.login-form input {
	margin-bottom: 10px;
}

.login-form label {
	display: block;
	height: 15px;
	font-size: 14px;
}

.login-form .more-options {
	padding-top: 10px;
}